@model AsyncInn.Models.Room

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}

<h1>Create - Room</h1>

<h4>Room</h4>
<hr />
<div>
    <div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Layout" class="control-label"></label>
                <select asp-for="Layout" class="form-control" asp-items="@Html.GetEnumSelectList<AsyncInn.Models.LayoutEnum>()"></select>
                <span asp-validation-for="Layout" class="text-danger"></span>
            </div>
            <div>
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
