@model AsyncInn.Models.Amenities

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}
<h1>Create - Amenities</h1>

@*<h4>Amenities</h4>*@
<hr />
<div class="CreatePage">
    <div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div>
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
</div>

