@model AsyncInn.Models.HotelRoom

@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout";
}

<h1>Edit - Hotel Room</h1>

<h4>HotelRoom</h4>
<hr />
<div>
    <div>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="HotelID" />
            <input type="hidden" asp-for="RoomNumber" />
            <div>
                <label asp-for="RoomID" class="control-label"></label>
                <select asp-for="RoomID" class="form-control" asp-items="ViewBag.RoomID"></select>
                <span asp-validation-for="RoomID" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Rate" class="control-label"></label>
                <input asp-for="Rate" class="form-control" />
                <span asp-validation-for="Rate" class="text-danger"></span>
            </div>
            <div>
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PetFriendly" /> @Html.DisplayNameFor(model => model.PetFriendly)
                </label>
            </div>
            <div>
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
