@model AsyncInn.Models.RoomAmenities

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}

<h1>Details - Room Amenities</h1>

<div class="SubPages">
    <h4>@*RoomAmenities*@</h4>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Amenities)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amenities.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Room.Name)
        </dd>
    </dl>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
