@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
<html>
<body>
    <div id="mainBG">
        <h1>Welcome to AsynInn Hotel Management System</h1>
        <nav>
            <ul>
                <li id="mainIndexList"><a asp-controller="Hotel" asp-action="Create">Create Hotel</a></liid="mainIndexList">
                <li id="mainIndexList"><a asp-controller="Room" asp-action="Create">Create Room</a></liid="mainIndexList">
                <li id="mainIndexList"><a asp-controller="Amenities" asp-action="Create">Create Amenities</a></liid="mainIndexList">
                <li id="mainIndexList"><a asp-controller="RoomAmenities" asp-action="Create">Create Room Amenities</a></li>
                <li id="mainIndexList"><a asp-controller="HotelRoom" asp-action="Create">Create Hotel Room</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>