@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
<html>
<body>
    <h1>Welcome to AsynInn Hotel Management System</h1>
    <nav>
        <ul>
            <li><a asp-controller="Hotel" asp-action="Create">Create Hotel</a></li>
            <li><a asp-controller="Room" asp-action="Create">Create Room</a></li>
            <li><a asp-controller="Amenities" asp-action="Create">Create Amenities</a></li>
            <li><a asp-controller="RoomAmenities" asp-action="Create">Create Room Amenities</a></li>
            <li><a asp-controller="HotelRoom" asp-action="Create">Create Hotel Room</a></li>
        </ul>
    </nav>
</body>
</html>