<!DOCTYPE html>
<html>
<head>
    <title>Testing title</title>
    <link href="~/reset.css" rel="stylesheet" />
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>Home</li>
                <li><a asp-controller="Hotel" asp-action="Hotel" href="~/Views/Hotel/Index.cshtml">Hotel Management</a></li>
                <li>Room Management</li>
                <li>Amenities Management</li>
                <li>Room Amenities Management</li>
                <li>Hotel Room Management</li>
            </ul>
        </nav>
    </header>
    <h1>Welcome to AsynInn Hotel Management System</h1>
</body>
</html>