<!DOCTYPE html>
<html>
<head>
    <title>Testing title</title>
    <link href="~/reset.css" rel="stylesheet" />
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <h1>Hello World Test</h1>

</body>
</html>